@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.patients-table {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  width: 100%;
  border-radius: 8px;
}

.patients-table .row {
  min-height: 35px;
  display: flex;
  align-items: center;
  flex-direction: row;
  word-break: break-all;
  background-color: #f3f4f6;
  color: #4b5563;
}

.patients-body-container .patients-table .row:hover {
  background: #0ead69;
  color: white;
}

.patients-table .row:nth-child(odd) {
  background-color: #d1d5db;
}

.patients-table #title:hover {
  background-color: #0ead69;
}

.patients-table .cell {
  margin-left: 10px;
}

.patients-table #title {
  font-size: 1.3em;
  background-color: #0ead69;
  color: white;
  width: 980px;
}

.patients-table .title .cell {
  justify-content: flex-start;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.patients-table .row .cell {
  flex: 1;
  display: flex;
}

.patients-table .row .title .cell {
  font-size: 1.2em;
}

.patients-table .row .center {
  justify-content: center;
}

.patients-table button {
  border: none;
  cursor: pointer;
}

.patients-table button:hover {
  color: #dc3545;
}
