.historico-agendamento-body-container {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 100%;
}
.historico-agendamento-body-container .section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.historico-agendamento-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.historico-agendamento-container .sair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 64%;
  height: 10%;
  padding-left: 5%;
  margin: 30px 0 30px 0;
}

.historico-agendamento-container .sair a {
  text-decoration: none;
  color: #0ead69;
  font-size: 3em;
}

.historico-agendamento-container .sair h2 {
  display: inline;
  color: #4b5563;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4em;
}
