.patients-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 100%;
}

.patients-body-container form {
  margin-bottom: 50px;
  width: 100%;
}

.patients-body-container .section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 78%;
  height: 100vh;
  overflow: auto;
}

.patients-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.patients-body-container form span {
  margin-left: 20px;
  color: red;
  font-size: 0.9em;
}

.patients-body-container .search-bar {
  background-color: #f3f4f6;
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 30px 0;
}

.patients-body-container .search-bar label {
  margin: 0px 12px;
  font-size: 1.4em;
  cursor: pointer;
  color: #9ca3af;
}

.patients-body-container .search-bar input {
  background-color: #f3f4f6;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 8px;
  color: #9ca3af;
  outline: none;
  font-size: 1.3em;
}
