.agendamento-admin-body-container {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 100%;
}
.agendamento-admin-body-container .section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.agendamento-admin-container {
  display: flex;
  flex-direction: column;
  width: 78%;
  height: 100vh;
}

.agendamento-admin-container .filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 40px 0;
}

.agendamento-admin-container .MuiSelect-select {
  cursor: pointer;
  min-width: 200px;
  border-radius: 0;
  user-select: none;
}

.agendamento-admin-container .MuiFormControl-root {
  margin-right: 100px;
}

.agendamento-admin-container .MuiFormLabel-root {
  color: #0ead69;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}
.agendamento-admin-container .MuiInput-underline::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #0ead69;
  pointer-events: none;
}

.agendamento-admin-container .MuiFormLabel-root.Mui-focused {
  color: #0ead69;
}

.agendamento-admin-container .MuiInputBase-root {
  color: #374151;
  cursor: text;
  font-size: 1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}
