.admin-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 100%;
}

.admin-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.admin-container .section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 78%;
  font-size: 32px;
  overflow: auto;
}

.admin-container .section img {
  width: 80%;
  height: 70%;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 40px;
}

.admin-container .sair {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 33vh;
}

.admin-container .sair button {
  padding: 5px;
  border-radius: 100%;
  color: #495057;
  font-size: 3em;
  transition: all 0.2s;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.admin-container .sair button:hover {
  color: #1d976c;
  scale: 1.5;
}
